@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(Default_overlord_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
}

main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h3 {
  font-family: 'Vollkorn';
  font-weight: 900;
  font-size: 35px;
  text-transform: uppercase;
  color: black;
  margin-left: 20px;
}

p {
  font-family: 'Vollkorn+SC';
  font-weight: 700;
  font-size: 24px;
  margin: 10px 0 30px 20px;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 400px);
  gap: 40px;
}
  
.grid-slot {
  width: 400px;
  height: 400px;
  border-radius: 15%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border: 4px solid black;
}

.grid-slot:nth-child(1) {
  background-color: maroon;
}

.grid-slot:nth-child(2) {
  background-color: gold;
}

.grid-slot:nth-child(3) {
  background-color: violet;
}

.grid-slot:nth-child(4) {
  background-color: purple;
}

.grid-slot:nth-child(5) {
  background-color: salmon;
}

.grid-slot:nth-child(6) {
  background-color: darkslategray;
}

.grid-slot:hover .grid-slot-mask {
  bottom: 0;
  left: 0;
  transition: 1s;
  animation: background_appear 1s linear;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.grid-slot:hover h3 {
  color: black;
  opacity: 0;
  animation: h3_appear 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.grid-slot:hover p {
  color: #fff;
  opacity: 0;
  animation: p_appear 1s linear;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.grid-slot-mask {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.70);
  bottom: -100%;
  left: -100%;

}

.grid-slot-img {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid-slot-img img {

  width: 100%;
  height: 100%;
}

@keyframes background_appear {
  0% {
    background-color: rgba(128, 128, 128, 0);
    border-top-right-radius: 0;
  }

  50% {
    background-color: rgba(128, 128, 128, 0.5);
    border-top-right-radius: 10%;
  }

  100% {
    background-color: rgba(128, 128, 128, 0.7);
    border-top-right-radius: 15%;
  }
}

@keyframes p_appear {
  0% {
    color: #fff;
    opacity: 0;
  }

  25% {
    color: #fff;
    opacity: 0.25;
  }

  50% {
    color: #fff;
    opacity: 0.5;
  }

  75% {
    color: #fff;
    opacity: 0.75;
  }

  100% {
    color: #fff;
    opacity: 1;
  }
}

@keyframes h3_appear {

  0% {
    color: black;
    opacity: 0;
  }

  25% {
    color: black;
    opacity: 0.25;
  }

  50% {
    color: black;
    opacity: 0.5;
  }

  75% {
    color: black;
    opacity: 0.75;
  }

  100% {
    color: black;
    opacity: 1;
  }
}