@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: "Poppins" !important;
}

main,
header {
  max-width: 1250px;
  margin: 0 auto;
}

body {
  background-color: #f9f9f9;
}

/* HEADER и всё что с ним связано */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 10px;
}

header figure {
  display: flex;
  gap: 7px;
  align-items: center;
}

header figcaption {
  font-size: 22px;
  display: none;
}

header>ul {
  display: flex;
  align-items: center;
  gap: 54px;
}

header>ul li {
  font-size: 18px;
  text-transform: uppercase;
  color: #606060;
}

header a {
  text-decoration: none;
}

header>ul li:nth-child(1) {
  color: #141416;
}

header>div {
  display: flex;
  align-items: center;
  position: relative;
}

header input[type="search"] {
  all: unset;
  width: 350px;
  box-sizing: border-box;
  padding: 15px 70px;
  color: #606060;
  border-radius: 11px;
  background-color: #EDEDED;
  font-size: 15px;
}

header>div img {
  position: absolute;
  left: 24px;
}

header button {
  all: unset;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #141416;
  color: white;
  padding: 16px 24px;
  border-radius: 12px;
  cursor: pointer;
}

.header-hidden {
  all: unset;
  cursor: pointer;
  display: none;
}

.header-hidden-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #141416;
  box-shadow: 5px 5px 10px black;
  /* margin: 0 auto; */
  width: 100%;
  top: -50%;
  padding: 40px;
  box-sizing: border-box;
}

.header-hidden-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-hidden-menu a {
  cursor: pointer;
  text-decoration: none;
  color: #94A3B8;
}

.header-hidden-menu ul>li {
  border-bottom: 3px solid #606060;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 75%;
}

.header-hidden-menu ul>li:hover,
.header-hidden-menu ul>li:hover a {
  color: white;
  border-color: white;
}

.header-hidden-menu ul>li:last-child {
  margin-bottom: 0;
}

/* MAIN Часть 1: ИНФА */

.main-info {
  width: max-content;
  margin: 110px auto;
}

h1 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
}

.main-info>div {
  margin-top: 47px;
  display: flex;
  gap: 33px;
}

.nasty-btn {
  all: unset;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 17px;
  border-radius: 14px;
  border: 2.5px solid #141416;
  cursor: pointer;
  transition: 0.3s;
}

.main-info>div button:nth-child(3) {
  padding: 17px 30px;
}

.nasty-btn:hover {
  background-color: #141416;
  color: white;
}

.nasty-btn:hover #_1 {
  fill: white;
}

.nasty-btn:hover #_2 {
  fill: white;
}

.nasty-btn:hover .problem-place-1 {
  fill: white;
}

.nasty-btn:hover .problem-place-2 {
  fill: white;
}

.nasty-btn:hover .problem-place-3 {
  fill: white;
}



/* MAIN Часть 2: СЕТКА С КАРТОЧКАМИ */

.grid-of-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 68px 40px;
  margin-bottom: 200px;
}

.grid-of-cards button {
  all: unset;
  text-transform: uppercase;
  color: white;
  background-color: #141416;
  font-weight: 600;
  line-height: 1.5;
  padding: 15px 25px;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  right: 19px;
  bottom: 20px;
}

.grid-of-cards h3 {
  margin: 19px 0px 15px;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.4;
  color: #141416;
}

.card-current {
  color: #94A3B8;
  font-size: 14px;
  line-height: 1.4;
}

.card {
  background-color: white;
  padding: 15px;
  width: max-content;
  position: relative;
  border-radius: 24px;
}

.card div {
  display: flex;
}

.card>img {
  border-radius: 24px;
}

.card-points {
  color: #141416;
  display: flex;
  align-items: center;
  font-size: 16px;
  margin-top: 5px;
}

.card-timer {
  position: absolute;
  top: 28px;
  right: 25px;
  background-color: rgba(28, 29, 32, 0.35);
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  padding: 8px 15px;
  border-radius: 10px;
}

/* FOOTER и всё с ним связанное */
footer {
  background-color: #141416;
  padding: 92px 0px 81px;
}

footer>div:nth-child(1) {
  margin: 0 auto;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #818181;
}

footer figure {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 600px;
  color: white;
}

footer nav {
  display: flex;
  gap: 54px;
}

footer a {
  text-decoration: none;
  color: #b9b9b9;
}

footer>div:nth-child(1) a {
  border-bottom: 2px solid transparent;
}

footer>div:nth-child(1) a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.nasty-link:hover * {
  fill: white;
}

footer>div:nth-child(2) {
  padding-top: 57px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
  color: #999;
  font-size: 17px;
  font-weight: 500;
}

footer>div:nth-child(2)>div {
  display: flex;
  gap: 54px;
}

footer p {
  text-transform: capitalize;
}

/* АДАПТИИИИИИИИИВ ;_; */


@media screen and (max-width: 1250px) {

  header,
  main,
  .grid-of-cards,
  footer>div:nth-child(1),
  footer>div:nth-child(2) {
    max-width: 890px;
  }

  header>ul {
    gap: 38px;
  }

  header>ul>li,
  header>ul li:nth-child(1) {
    font-size: 13px;
  }

  header figure>img {
    height: 38px;
    width: 38px;
  }

  header input[type="search"] {
    padding: 13px 50px;
    font-size: 13px;
    width: max-content;
  }

  header>div img {
    height: 15px;
    width: 15px;
    left: 16px;
  }

  header button {
    padding: 11px 18px;
    font-size: 11px;
  }

  h1 {
    font-size: 32px;
  }

  .nasty-btn {
    padding: 12px;
  }

  .grid-of-cards {
    margin: 0 auto;
    margin-bottom: 200px;
    row-gap: 20px;
    column-gap: 10px;
  }

  .grid-of-cards h3 {
    font-size: 15px;
  }

  .card>img {
    width: 180px;
    height: 180px;
  }

  .card div>img {
    width: 15px;
  }

  .card div>button {
    font-size: 10px;
    padding: 10px 18px;
    border-radius: 8px;
    right: 17px;
    bottom: 18px;
  }

  .card-current {
    font-size: 10px;
  }

  .card-points {
    font-size: 12px;
  }

  footer>div:nth-child(2) {
    font-size: 12px;
  }

  footer figure {
    font-size: 21px;
  }

  footer figure>img {
    width: 46px;
  }

  footer nav>a {
    font-size: 13px;
  }

  .nasty-link svg {
    width: 15px;
    height: 15px;
  }

  footer>div:nth-child(2)>div {
    gap: 38px;
  }

  footer {
    padding: 92px 20px 81px;
  }

  footer nav {
    gap: 15px;
  }
}

@media screen and (max-width: 992px) {

  header ul,
  header>div,
  header button {
    display: none;
  }

  header figcaption,
  .header-hidden {
    display: block;
  }

  .grid-of-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    margin: 0 auto;
  }

  .card>img {
    width: 220px;
    height: 220px;
  }
}

@media screen and (max-width: 860px) {
  .card>img {
    width: 180px;
    height: 180px;
  }
}

@media screen and (max-width: 768px) {
  .grid-of-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .card>img {
    width: 220px;
    height: 220px;
  }

}

@media screen and (max-width: 576px) {
  .grid-of-cards {
    grid-template-columns: 1fr
  }

  .card>img {
    width: 255px;
    height: 255px;
  }

  .nasty-btn {
    font-size: 10px;
    padding: 10px;
  }

  .nasty-btn:nth-child(3) {
    padding: 17px 20px !important;
  }

  .nasty-btn>p {
    padding-top: 1.5px;
  }

  .nasty-btn>svg {
    width: 16px;
    height: 16px;
  }

  .main-info {
    margin: 50px auto;
  }

  .main-info>div {
    gap: 15px;
  }

  footer {
    position: relative;
    padding: 52px 20px 36px;
  }

  footer nav {
    flex-direction: column;
    gap: 30px;
    font-size: 14px;
  }

  footer nav>a {
    text-transform: uppercase;
  }

  footer>div:nth-child(1) {
    gap: 50px;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  footer>div:nth-child(2)>div {
    position: absolute;
    top: 66px;
    right: 30px;
  }
}